* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.flex-item {
    padding-left: 15px;
    padding-right: 15px;

}


/* Header */


.flex-header {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-direction: column;
}
.header {
    padding: 26px 0;
    height: auto;
    background-color: rgb(29, 33, 38);
    position: sticky;
    top: 0;
    z-index: 20;
}

.menu {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: space-between;
}
.menu::-webkit-scrollbar {
    display: none;
}
.menu_item {
    height: 30px;
    border-radius: 3px;
    border: 2px solid transparent;
}
.menu_item > a {
    display: block;
    line-height: 28px;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(164, 174, 173);
}
.menu_item:hover {
    cursor: pointer;
    border: 2px solid rgb(91, 97, 104);
}
.search {
    height: 30px;
    margin-left: auto;
    border: 2px solid #3c4147;
    border-radius: 3px;
    width: 195px;
    display: flex;
    flex-direction: row;
}
.search input {
    padding: 0;
    border: none;
    background-color: transparent;
    width: 150px;
}
.search input::placeholder {
    text-transform: uppercase;
    font-size: 10px;
    color: #a4aead;
}
input[type="text"] {
    line-height: 2;
    font-size: 13px;
    color: #a4aead;
    padding-left: 8px;
}
.search_icon {
    background-image: url(blog_sample/search.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 4px -7px;
    height: 45px;
    width: 45px;
}


/* Slideshow */


.flex-slideshow {
    display: flex;
}
.slideshow {
    background-image: url(blog_sample/img_slide.png);
    background-repeat: no-repeat;
    height: 360px;
}
.welcome_text {
    padding: 25px 0 25px;
}
.greeting_text {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 33px;
}
.description_text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
}
.about_buttons button{
    height: 44px;
    width: 124px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
}
.about_buttons button:hover {
    background-color: #23b7a4;
    border-color: #23b7a4;
}


/* Tablet */

@media(min-width:768px) {
    .container {
        max-width: 720px;
    }
    .flex-header {
        justify-content: space-between;
        flex-direction: row;
    }
    .company_logo {
        margin-top: 7px;
    }
    .menu {
        width: 42vw;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .menu::-webkit-scrollbar {
        display: none;
    }
    .welcome_text {
        padding: 85px 0 80px;
    }
    .employees {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}


/* Laptop */
@media(min-width:992px) {
    a {
        cursor: pointer;
    }
    .container {
        max-width: 960px;
    }
    .flex-header {
        flex-direction: row;
    }
    .menu {
        width: inherit;
    }
    .slideshow {
        height: 660px;
    }
    .welcome_text {
        padding: 225px 0;
    }
    .description_text {
        width: 60%;
    }
}


/* Desktop */
@media(min-width:1200px) {
    .container {
        max-width: 1140px;
    }
    .flex-header {
        flex-direction: row;
    }
}


/* Mobile */
@media(max-width:767px) {

}


/* ligth_style */


.ligth_style {
    background-color: white;
    margin-bottom: 50px;
}
.title_of_light_section {
    color: black;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 60px;
}
.title_of_light_section::before {
    content: "";
    display: inline-block;
    height: 35px;
    width: 10px;
    background-color: #e1e6ea;
    position: relative;
    top: 8px;
}
.employees {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.employee_info {
    padding: 20px;
    background-color: #e1e6ea;
    font-size: 11px;
    line-height: 1.5;
}
.employee:hover .employee_info, 
.employee:hover .employee_name, 
.employee:hover .employee_position{
    color: white;
    background-color: #3a454d;
}
.employee_foto {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.employee:hover .foto_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 10;
    top: 0;
}
.employee_social_media {
    display: none;
    position: absolute;
    width: 148px;
}
.employee:hover .employee_social_media {
    z-index: 11;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.employee:hover .employee_social_media > div {
    background-color: #3c4147;
}
.employee_social_media > div :hover{
    background-color: #8d8f92;
}
.employee_name {
    color: black;
    text-transform: uppercase;
}
.employee_position {
    color: #8d8f92;
}

